@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  background-image: linear-gradient(to bottom, #001f3f, #001428);
 
}